a{
    color:white;
}
a:visited{
    color:white;
}


.fakebutton {
    padding: 15px 32px; 
    border-color: rgb(255, 255, 255);
    border-radius:10px;
    box-shadow: 10px 5px 5px black;
    transition-duration: 1s;
    border-width: 2px;
    transition-duration: 0.8s;
    background-color: rgb(54, 54, 54);
    color:white;
    font-family:sans-serif;
    font-size:large;
    cursor:pointer;
    
}
.fakebutton:hover {
    background-color:rgb(143, 143, 143);
   
}

.fakebutton:active {
    transform:scale(0.95,0.95);
    transition-duration:0.15s;
}

.fit-picture {
    position:absolute;
    top: 100px;
    right: 150px;
}

.tennis-picture {
    margin-left:auto;
    margin-right:auto;
    width:50%;
    display:block;
    border-radius: 100px;
    border-width: 10px;
    border-color:black;
}

.round-corner-picture {
    border-radius: 100px;
    border-width: 10px;
}


.text-change {
   text-align: center;
}
#subheader {
    position:absolute;
    left:200px;
    bottom: 400px;
    font-size:xx-large;
    transition-duration:0.5s;
}

#subheader:hover {
    color:whitesmoke;
    transition-duration:0.5s;
    transform:scale(1.1,1.1);
}

.main-text-size {

    font-size:x-large;

}

.text-size {
    font-size: 350%;
}

.text-size-writing{
    font-size:130%;
    transition-duration:0.5s;
    
    }

.text-size-writing:hover {
    color:whitesmoke;
    transition-duration:0.5s;
    transform:scale(1.1,1.1);
}

.position-facts {
    position:absolute;
    left:180px;
    bottom:260px;
}

@keyframes background-color-changer-dark {

    0%{
        background-color:rgb(47, 47, 47);
    }
      
    20% {
        background-color:rgb(80, 80, 80);
    }

    50% {
        background-color:rgb(100, 100, 100);
    }

    70% {
        background-color: rgb(80,80,80);
    }

    100% {
        background-color: rgb(47, 47, 47);
    }
}@keyframes background-color-changer-light {

    0%{
        background-color:white;
    }
      
    20% {
        background-color:lightgray;
    }

    50% {
        background-color:lightslategray;
    }

    70% {
        background-color:lightgray;
    }

    100% {
        background-color:white;
    }
}
body {
    animation: background-color-changer-dark 16s infinite;
    animation-direction: alternate;
}

.lightmode-button{
    background-color: white;
    color:black;
    padding: 10px 10px;
    transition: 0.25s;
}

.lightmode-button:active{
    transform:scale(0.8 , 0.8 );
    box-shadow: 5px 5px 5px grey;
    
}

.darkmode-button{
    background-color: black;
    color:white;
    padding: 10px 10px;
    transition: 0.25s;
}
.darkmode-button:active{
    transform:scale(0.8 , 0.8 );
    box-shadow: 5px 5px 5px grey;
}

